body{
    background-color: rgb(253, 253, 180);
    width: 100%;
}
.cl{
    width: 70%;
    background-color:rgb(201, 201, 0);
    padding-bottom: 30px;
    

}
.t1{
  width: 48%;
  padding: 10px;
  height: 300px;
  background-color: white;
 ;
  
  
}
.l1{
  width: 20%;
  padding: 10px;
  height: 300px;
  background-color: silver;
 margin-left: 740px;
 margin-bottom: 600px;
  margin-top: -320px;

 
}
.conT{
    width: 100%;
    margin-left:500px;;

      
      }
