body{
    background-color: rgb(255, 217, 201);
}
.dO{
    border: 2px black solid;
    background-color: white;
    width: 900px;
}
.eO{
    border: 4px gray dotted;
    background-color: white;
    width: 900px;
    margin-top: 30px;
}
#uu{
    border: 2px dotted red;
}
.fO{
    border: 2px black solid;
    background-color: white;
    color: purple;
    width: 900px;
    margin-top: 30px;
}
.i1{
    background-color:coral ;
    font-weight: bold;
}
.i2{
    background-color: yellow;
    font-weight: bold;
}