body{
    width:99%  ;
   
    text-align: justify;
    
}
img{
    position:fixed;
    margin-left: 85%;
    top: 30px;
    border: 2px black solid;
    height: 75%;
    
    

   
}
.p1{
    width: 100%;
    
      
   

    
}


